    <div class="chat-header clearfix">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />

        <div class="chat-about">
            <div class="chat-with">{{name}}</div>
            <div class="chat-num-messages">Code: {{code}}</div>
        </div>
        <i class="fa fa-star"></i>
        <div class="pull-right">
            New messages: <span class="numMessages pull-right"></span>
        </div>
    </div> <!-- end chat-header -->
