<div class="chat-header clearfix">
    <img class="round" width="50" height="50" avatar="{{name}}"/>

    <div class="chat-about">
        <div class="chat-with">{{name}}</div>
        <div class="chat-num-messages">Code: {{code}}</div>
    </div>
    <i class="fa fa-star"></i>
    <div class="pull-right">
        {{!-- New messages: <span class="numMessages pull-right"></span> --}}
    </div>
</div> <!-- end chat-header -->
