<script id="chatinfo-template" type="text/x-handlebars-template">
    <div class="ibox-title">
        <span class="chat-name">\{{name}}</span>
        <span class="success user-title">Code: \{{code}} </span>
        <span style="background-color: #6CC417;" class="online-now pull-right user-title">Online now:</span>
        <span class="pull-right date-title"> 
            <span class="numMessages"></span> 
            New Messages
        </span>
    </div>
</script>
