<li>
    <div class="message-data">
        <span class="message-data-name"><i class="fa fa-circle online"></i>{{viewUsername}}</span>
        <span class="message-data-time">{{viewStamp}}</span>
    </div>
    <div class="message my-message">
        {{message}}
    </div>
</li>
