<li class="clearfix">
    <div class="message-data">
        <span class="message-data-name pull-left">{{viewUsername}}</span>
        <span class="message-data-time">{{viewStamp}}</span>
    </div>
    <div class="message my-message float-left">
        {{message}}
    </div>
</li>
