<li class="clearfix">
    <div class="message-data align-right">
        <span class="message-data-time" >{{viewStamp}}</span>
        <span class="message-data-name" >{{viewUsername}}</span> <i class="fa fa-circle me"></i>
    </div>
    <div class="message other-message float-right">
        {{message}}
    </div>
</li>
