<script id="onlineuser-template" type="text/x-handlebars-template">
    
    <div class="chat-user-name">
        <input class = "btn online-list" style="" type="submit" name = "chatname" value="\{{username}}">
        <img src="" id="\{{userid}}">
        <div class="label-warning notif pull-right" style=""></div> 
    </div>
</script>
