<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Neon Admin Panel" />
        <meta name="author" content="" />

        <link rel="icon" href="/stylesheets/assets/images/favicon.ico">

        <title>Neon | Chat API</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

        <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
        <link rel="stylesheet" href="/stylesheets/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
        <link rel="stylesheet" href="/stylesheets/style-build/neon.min.css">
        <script src="/javascripts/js/handlebars.min.js"></script>

        {{!-- <link rel="stylesheet" href="/stylesheets/assets/css/skins/white.css"> --}}

        <!--[if lt IE 9]><script src="/stylesheets/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->


    </head>
    <body class="page-body skin-white" data-url="http://neon.dev">
        <div class="chat-visible page-container sidebar-collapsed"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
            {{> sidebar}} 

            <div class="main-content">

                {{> header}} 

                <hr />
                    
		<section class="search-results-env" style="margin-top: -40px;">
            
            <ul class="nav nav-tabs right-aligned">
                <!--<li class="tab-title pull-left">
                    <div class="search-string">10 results found for: <strong>&ldquo;this&rdquo;</strong></div>
                </li> -->

                <li class="active">
                    <a href="#pages">
                        Chat
                        <span class="disabled-text"></span>
                    </a>
                </li>
                <li>
                    <a href="#members" id="stats">Stats</a>
                </li>
                <li>
                    <a href="#messages">Messages</a>
                </li>
            </ul>
            <div class="container clearfix search-results-panes" style="background: transparent;">
                <div class="search-results-panes">

                    <div class="search-results-pane active" id="pages">
                        <div class="chat chat-style ">
                            <div class="chat-header clearfix">

                                <div class="chat-about">
                                    <div class="chat-with"></div>
                                    <div class="chat-num-messages"></div>
                                </div>
                                <i class="fa fa-star"></i>
                            </div> <!-- end chat-header -->

                            <div class="chat-history-group">
                                <ul>
                                </ul>

                                <img id="typing" src="/images/typing-indicator2.gif" style="display:none; width: 40px; height: 40px;" alt="" class="pull-right"/>
                            </div> <!-- end chat-history -->

                            <form action="" class="submit-message">
                                <div class="chat-message clearfix">
                                    <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message..." rows="1"></textarea>
                                    <input type="hidden" name="_csrf" value="{{csrfToken}}" />

                                    <div class="file-uploads">
                                        <input id="fileupload" type="file" name="" id="" value="upload" />
                                        <label for="fileupload" id="labelfile"></label>
                                        <i class="fa fa-file-o"></i>
                                        <i class="fa fa-file-image-o"></i>
                                    </div>
                                </div> <!-- end chat-message -->
                            </form>

                        </div>
                    </div>
                    <div class="search-results-pane" id="members">
                    </div> 
                    <div class="search-results-pane" id="messages">
                        <img id="test" src="" alt="" />

                        messagessas	

                    </div>

                </div>

                <!-- end chat -->

            </div>


        </section>

                 <!-- end container -->

                <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>
                <script src='http://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js'></script>

                <!--<footer class="main">-->

                <!--&copy; 2015 <strong>Neon</strong> Admin Theme by <a href="http://laborator.co" target="_blank">Laborator</a>-->

                <!--</footer>-->
            </div>


            <div id="chat" class="fixed" data-current-user="{{username}}" data-order-by-status="1" data-max-chat-history="100">

                <div class="chat-inner">
                    <h2 class="chat-header">
                        <a href="#" class="chat-close"><i class="entypo-cancel"></i></a>

                        <i class="entypo-users"></i>
                        Chat
                        <span class="badge badge-success is-hidden">0</span>
                    </h2>


                    <div class="chat-group" id="group-1">
                        <strong>Online  (<span class="online-now"></span>)</strong>
                    </div>
                </div>

                <!-- conversation template -->
                <div class="chat-conversation">

                    <div class="conversation-header">
                        <a href="#" class="conversation-close"><i class="entypo-cancel"></i></a>

                        <span class="user-status"></span>
                        <span class="display-name"></span>
                        <small></small>
                    </div>

                    <ul class="conversation-body">
                    </ul>

                    <div class="chat-textarea">
                        <textarea class="form-control autogrow" placeholder="Type your messsage..."></textarea>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/javascripts/templates/templates.js"></script>
	<!-- Bottom scripts (common) -->
	<script src="/stylesheets/assets/js/gsap/TweenMax.min.js"></script>
	<script src="/stylesheets/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
	<script src="/stylesheets/assets/js/bootstrap.js"></script>
	<script src="/stylesheets/assets/js/joinable.js"></script>
    <script src="/stylesheets/assets/js/resizeable.js"></script>
    <script src="/stylesheets/assets/js/neon-api.js"></script>
	<script src="/stylesheets/assets/js/rickshaw/vendor/d3.v3.js"></script>


	<!-- Imported scripts on this page -->
    <script src="/stylesheets/assets/js/rickshaw/rickshaw.min.js"></script>
	<script src="/stylesheets/assets/js/raphael-min.js"></script>
	<script src="/stylesheets/assets/js/morris.min.js"></script>
	<script src="/stylesheets/assets/js/jquery.peity.min.js"></script>
    <script src="/stylesheets/assets/js/neon-charts.js"></script>
	<script src="/stylesheets/assets/js/jquery.sparkline.min.js"></script>
	<script src="/stylesheets/assets/js/neon-chat.js"></script>


	<!-- JavaScripts initializations and stuff -->
	<script src="/stylesheets/assets/js/neon-custom.js"></script>


	<!-- Demo Settings -->
	<script src="/stylesheets/assets/js/neon-demo.js"></script>
        {{!-- <script src="/stylesheets/assets/js/neon-charts.js"></script> --}}
        <script>
            var roomIDs = JSON.parse(decodeURIComponent("{{{parseList}}}"));
        </script>
        <script src="/javascripts/bundle/chat_bundle.js"></script>
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                
                var height = $(window).height();
                if(height > 700) {
                    $('.chat .chat-history-group').css('height', $(document).height()/2);
                }
                if(height < 690 && height > 300) {
                    $('.chat .chat-history-group').css('height', $(document).height()/2.5);
                }

            });
        </script>

    </body>
</html>
