doctype html
html
	head
		meta(charset='utf-8')
		// <meta name="viewport" content="width=device-width, initial-scale=1.0">
		// <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		meta(name='viewport', content='width=1024')
		title ChatIO
		link(href='/stylesheets/css/bootstrap.min.css', rel='stylesheet')
		link(href='/stylesheets/font-awesome/css/font-awesome.css', rel='stylesheet')
		link(href='/stylesheets/css/animate.css', rel='stylesheet')
		link(href='/stylesheets/css/style.css', rel='stylesheet')
		link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Raleway')
		link(href='/stylesheets/css/index.css', rel='stylesheet')
	body.top-navigation
		#wrapper
			#page-wrapper
				.row.border-bottom.white-bg
					nav.navbar.navbar-static-top(role='navigation')
						.navbar-header
							//
								<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
								<i class="fa fa-reorder"></i>
								</button>
							a.navbar-brand(href='#') ChatIO
						#navbar.navbar-collapse.collapse
							ul.nav.navbar-top-links.navbar-right
								li
									a.navbar-brand(href='login.php', style='font-family: Raleway; font-weight: 200;')
										| #{username}
								li
									a.navbar-brand(href='login.php', style='font-family: Raleway; font-weight: 200;')
										i.fa.fa-sign-in
										| Log out
				.wrapper.wrapper-content
					.container.animated.fadeInDown
						.slogan
							span Welcome, #{first}!
						.title
							span Chat
						.logo
							button#i.btn.btn-primary.filler
							button#o.btn.btn-primary.filler
						.tool-bars
							form.m-t(role='form', method='post', action='/chats/join_chat')
								.form-group.center-block
									input.form-control.custom-tool(name='joinChat', placeholder='Enter Chat Code', autocomplete='off', required='')
									button.btn.btn-primary.custom-tool-buttom(type='submit', name='join_chat') Join

							form.m-t(role='form', method='post', action='/chats/create_chat')
								.form-group.center-block
									input.form-control.custom-tool(name='createChat', placeholder='Create Chat Code', autocomplete='off', required='')
									button.btn.btn-primary.custom-tool-buttom(type='submit', name='create_chat') Create
						.subtitle
							span Your Recent Chats
					//
						<div class="container animated fadeInDown">
						<div class="slogan">
						<span>Instant Messaging. Redefined.</span>
						</div>
						<div class="title">
						<span>Chat</span>
						</div>
						<div class="logo">
						<button class="btn btn-primary filler" id="i"></button>
						<button class="btn btn-primary filler" id="o"></button>
						</div>
						<div class="buttons">
						<input type="submit" class="btn btn-primary" id="register" value="Sign up">
						<input type="submit" class="btn btn-primary" id="login" value="Log in">
						</div>
						</div>
				.footer
					div
						strong Copyright
						|  ChatIO © 2017
		// Mainly scripts
		script(src='/javascripts/js/jquery-2.1.1.js')
		script(src='/javascripts/js/bootstrap.min.js')
		script(src='/javascripts/js/plugins/metisMenu/jquery.metisMenu.js')
		script(src='/javascripts/js/plugins/slimscroll/jquery.slimscroll.min.js')
		// Custom and plugin javascript
		script(src='/javascripts/js/inspinia.js')
		script(src='/javascripts/js/plugins/pace/pace.min.js')
		// Flot
		script(src='/javascripts/js/plugins/flot/jquery.flot.js')
		script(src='/javascripts/js/plugins/flot/jquery.flot.tooltip.min.js')
		script(src='/javascripts/js/plugins/flot/jquery.flot.resize.js')
		// ChartJS
		script(src='/javascripts/js/plugins/chartJs/Chart.min.js')
		// Peity
		script(src='/javascripts/js/plugins/peity/jquery.peity.min.js')
		// Peity demo
		script(src='/javascripts/js/demo/peity-demo.js')
		script(src='/javascripts/js/formslider.js')
		script(src='/javascripts/js.cookie.js')
		script(src='/javascripts/js/home-setup.js')
