html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title ChatIO
    link(href='stylesheets/css/bootstrap.min.css', rel='stylesheet')
    link(href='stylesheets/font-awesome/css/font-awesome.css', rel='stylesheet')
    link(href='stylesheets/css/animate.css', rel='stylesheet')
    link(href='stylesheets/css/style.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Raleway')
    link(href='stylesheets/css/index.css', rel='stylesheet')
    link(href='stylesheets/css/flip.css', rel='stylesheet')
  body.top-navigation
    #wrapper
      #page-wrapper
        .row.border-bottom.white-bg
          nav.navbar.navbar-static-top(role='navigation')
            .navbar-header
              button.navbar-toggle.collapsed(aria-controls='navbar', aria-expanded='false', data-target='#navbar', data-toggle='collapse', type='button')
                i.fa.fa-reorder
              a.navbar-brand(href='#') ChatIO
            #navbar.navbar-collapse.collapse
              ul.nav.navbar-top-links.navbar-right
                li
                  a.navbar-brand(href='', style='font-family: Raleway; font-weight: 200;')
                    i.fa.fa-sign-in
                    |  Log in
        .wrapper.wrapper-content
          .container.animated.fadeInDown
            .slogan
              span Instant Messaging. Redefined.
            .title
              span Chat
            .logo
              button#i.btn.btn-primary.filler
              button#o.btn.btn-primary.filler
            #w
              #page
                #content-login
                  .content
                    .buttons
                      input#showsignup.btn.btn-primary.register(type='submit', value='Sign up')
                      input#showregister.btn.btn-primary.login(type='submit', value='Log in')
                #content-register2
                  .content
                    .loginColumns
                      form.m-t(role='form', method='post', action='/signup')
                        .row
                          .col-md-6(style='border-top: solid #C3C3C3 1px')
                            .form-group(style='margin-top: 15px')
                              input.form-control(name='firstname_signup', placeholder='First name', autocomplete='off', required='')
                            .form-group
                              input.form-control(name='lastname_signup', placeholder='Last name', autocomplete='off', required='')
                            h2.font-bold Welcome to ChatIO
                            p
                              | A perfectly designed and precisely prepared chat client,
                              | ChatIO is committed to revolutionizing and redefining instant messaging, one step at a time.
                            p
                              | Get started by entering a username and password and clicking "Sign up". It's that easy. 
                          .col-md-6(style='border-top: solid #C3C3C3 1px')
                            .ibox-content(style='border: none')
                              .form-group
                                input.form-control(name='user_signup', placeholder='Username', autocomplete='off', required='')
                                span.error-message(style='color:red') 

                              .form-group
                                input.form-control(type='password', name='password_signup', placeholder='Password', required='')
                              button.btn.btn-primary.block.full-width.m-b(type='submit', name='signup') Sign up
                              p.text-muted.text-center
                                small Already have an account?
                              a#showregister.btn.btn-sm.btn-white.btn-block Login
                              a#showlogin2.btn.btn-sm.btn-white.btn-block Back
                      hr
              #content-register
                .content
                  .middle-box.text-center.loginscreen.loginflip(style='margin-top: 180px')
                    div
                      //
                        <h3>Login</h3>
                        <p>Perfectly designed and precisely prepared to suit your needs. Login in to see it in action.
                      div(style='border: solid #D2D2D2 1px;')
                        i.fa.fa-user(style='font-size: 130px;')
                      // Continually expanded and constantly improved Inspinia Admin Them (IN+)
                      p
                      form.user-login.m-t(role='form', action='/login', method='post')
                        .form-group
                          input.form-control(name='username', placeholder='Username', required='', autocomplete='off')
                        .form-group
                          input.form-control(type='password', name='password', placeholder='Password', required='')
                        button.btn.btn-primary.block.full-width.m-b(type='submit', name='loginbutton') Login
                        a#showlogin.btn.btn-sm.btn-white.btn-block Back
                        a(href='#') small Forgot password?
          //
            <div class="container animated fadeInDown">
            <div class="slogan">
            <span>Instant Messaging. Redefined.</span>

            </div>
            <div class="title">
            <span>Chat</span>
            </div>
            <div class="logo">
            <button class="btn btn-primary filler" id="i"></button>
            <button class="btn btn-primary filler" id="o"></button>
            </div>
            <div class="buttons">
            <input type="submit" class="btn btn-primary" id="register" value="Sign up">
            <input type="submit" class="btn btn-primary" id="login" value="Log in">
            </div>
            </div>
        .footer
          div
            strong Copyright
            |  ChatIO © 2017
    // Mainly scripts
    script(src='javascripts/js/jquery-2.1.1.js')
    script(src='javascripts/js/bootstrap.min.js')
    script(src='javascripts/js/plugins/metisMenu/jquery.metisMenu.js')
    script(src='javascripts/js/plugins/slimscroll/jquery.slimscroll.min.js')
    // Custom and plugin javascript
    script(src='javascripts/js/inspinia.js')
    script(src='javascripts/js/plugins/pace/pace.min.js')
    // Flot
    script(src='javascripts/js/plugins/flot/jquery.flot.js')
    script(src='javascripts/js/plugins/flot/jquery.flot.tooltip.min.js')
    script(src='javascripts/js/plugins/flot/jquery.flot.resize.js')
    // ChartJS
    script(src='javascripts/js/plugins/chartJs/Chart.min.js')
    // Peity
    script(src='javascripts/js/plugins/peity/jquery.peity.min.js')
    // Peity demo
    script(src='javascripts/js/demo/peity-demo.js')
    script(src='javascripts/js/formslider.js')
    script(src='javascripts/socket.io-client/dist/socket.io.js')
    script(src='javascripts/validate.js')
