.btn-primary{
	background-color: transparent;
	color: #464646;
	border: solid #464646 1px;
	border-radius: 5px;
	width: 160px !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
  background-color: #424242;
  border-color: #424242;
  color: #FFFFFF;
}
.add-user{
    display:inline; 
    margin-left: 20px;
}
.small-buttons{
    margin-right: 20px;
    width: 30px;
    background-color: transparent;
    border: none;
}

.notif{
    text-align: center;
    display: inline-block;
    width: 20px;
    /*background-color: darkred;*/
}
.date{
    position: absolute;
    top: 12px;
    left: 40%;
    margin-right: -40%;
    
}
.message-date{
    text-align:center;
}
.message{

}
.small-chat-box {
    display: none;
    position: relative;
    float: right;
    margin-top: -100px;
/*    bottom: 20px;
    right: 75px;*/
    background: #fff;
    border: 1px solid #e7eaec;
    width: 350px;
    height: 320px;
  border-radius: 4px;
}
.small-chat-box.ng-small-chat {
    display: block;
}
.body-small .small-chat-box {
  bottom: 70px;
    right: 20px;
}
.small-chat-box.active {
  display: block;
}
.small-chat-box .heading {
    background: #2f4050;
    padding: 8px 15px;
    font-weight: bold;
    color: #fff;
}
.small-chat-box .chat-date {
    opacity: 0.6;
    font-size: 10px;
    font-weight: normal;
}
.small-chat-box .content {
    overflow-y: scroll; 
    padding: 15px 15px;
}
.small-chat-box .content .author-name,.author-name {
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 11px;
}
.small-chat-box .content > div {
    padding-bottom: 20px;
}
.small-chat-box .content .chat-message, .chat-message {
    padding: 5px 10px;
    border-radius: 13px;
    font-size: 17px;
    line-height: 20px;
    max-width: 60%;
    background: #f3f3f4;
    margin-bottom: 10px;
}
.small-chat-box .content .chat-message.active, .chat-message.active{
    background: #097054;
    color: #fff;
}
.small-chat-box .content .left ,.left{
    text-align: left;
    clear: both;
}
.small-chat-box .content .left .chat-message, .left .chat-message{
    float: left;
}
.small-chat-box .content .right, .right{
    text-align: right;
    clear: both;
}
.small-chat-box .content .right .chat-message, .right .chat-message {
    float: right;
}
.small-chat-box .form-chat {
    padding: 10px 10px;
}
.chat-discussion{
    border-left: solid #E5E5E5 1px;
    background-color: white;
    height: 400px;
}
.chat-view{

}
.chat-name{
    /*height: 100%;
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    position: absolute;
    text-align: left;
    color: #565656;
    margin-top: 17px; */
    margin-right: 15px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    background-color: #FF9900;
    font-size: 17px;
    color: white;
}
.ibox-title{
    position: relative !important;
}
.actions-list{
    text-align: center;
}
.chat-actions{
    margin-top: 15px;
}
.container1{
    display:table;
    height: 900px;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0;
    box-sizing: border-box;
}
.row{
    height: 100%;
}
.row .chat-view .ibox-content .cell1{
    height: 100%;
}
html,.top-navigation,.container1, .row{
    min-height: 100% !important;
}
.container-non-responsive {
    /* Margin/padding copied from Bootstrap */
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* Set width to your desired site width */
}
.date-chat{
    text-align: center;
    font-size: 9px;
    font-weight: 500 !important;
    opacity: 0.6;

}
.user-title{
    margin-left: 5px;
    padding: 4px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
    background-color: #89C4F4;
    color: white;

}
