html,
body {
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .row {
    /*border: 1px dotted grey;*/
}

.box .row.header {
    flex: 0 1 auto;
}

.box .row.content {
    flex: 1 1 auto;
}

.box .row.footer {
    flex: 0 1 40px;
}
.page-container .sidebar-menu .sidebar-menu-inner {
    overflow-y: scroll;
    height: 100%;
}
.page-container.sidebar-collapsed .sidebar-menu .sidebar-menu-inner {
    overflow: visible;
    height: 100%;
}
.sidebar-collapsed #main-menu .make-overflow {
    overflow: visible !important;
    overflow-y: scroll !important;
}

.sidebar-collapsed #main-menu .make-height {
    max-height: 350px !important;
}
#main-menu .make-overflow li div{
    /*background-color: blue !important;*/
}

.no-change-hover {
    background-color: transparent !important;
    color: #fff !important;
    border: none !important;
}

.chat-header .logo-chat-edit {
    
}

.chat-about .change-code-link {
    margin-left: 10px !important;
    /*color: #c00 !important;*/
}

.profile-env > header .profile-pic {
  position: relative;
}
.profile-env > header .profile-pic img {
  float: right;
  -moz-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.9);
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.profile-env > header .profile-pic:hover img {
  zoom: 1;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
@media (max-width: 768px) {
  .profile-env > header .profile-pic {
    text-align: center;
    display: block;
  }
  .profile-env > header .profile-pic img {
    width: 125px;
    float: none;
    display: inline-block;
    margin-bottom: 15px;
  }
}

.chat-group {
    height: 100%;
}
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font: "Lato", Arial, sans-serif;
    /*color: white;*/
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  pre {
    margin: 20px 0;
  padding: 20px;
    background: #fafafa;
}

.chat-notif {
    position: absolute;
    right: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    margin-right: 6px;
    margin-top: 3px;
    font-size: 10px;
    
}

.round { border-radius: 50%; }
pre {
    margin: 20px 0;
    padding: 20px;
    background: #fafafa;
}

.title-banner {
    margin-top: 100px !important;
}

.round {
    border-radius: 50%;
}
.container.clearfix.search-results-panes {
    padding: 10px 0px 0px 0px;
}



#form_register #loginbutton {
    background:none !important;
    color:inherit;
    border:none; 
    padding:0 !important;
    font: inherit;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 13px;
}

.signup-error {
    font-size: 11px;
    color: #fff;
    background: #cc2424;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -5px;
    margin-left: -10px;
    margin-right: -10px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 30px;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 100%;
    background: #444753;
    border-radius: 5px;
}

.people-list {
    width: 260px;
    float: left;
}
.people-list .search {
    padding: 20px;
}
.people-list input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
}
.people-list .fa-search {
    position: relative;
    left: -25px;
}
.people-list ul {
    padding: 20px;
    height: 770px;
}
.people-list ul li {
    padding-bottom: 20px;
}
.people-list img {
    float: left;
}
.people-list .about {
    float: left;
    margin-top: 8px;
}
.people-list .about {
    padding-left: 8px;
}
.people-list .status {
    color: #92959E;
}

.chat {
    width: 100%;
    float: left;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
}
.chat .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
}
.chat .chat-header img {
    float: left;
}
.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}
.chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 16px;
}
.chat .chat-header .chat-num-messages {
    color: #92959E;
}
.chat .chat-header .fa-star {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-top: 12px;
}
.chat .chat-history-group {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 300px;
}
.chat .chat-history-group .message-data {
    margin-bottom: 6px;
    text-align: center;
}

.message-data.cancel {
    text-align: left;
}

.chat .chat-history-group .message-data .message-data-name{
    color: #ACACAC;
    padding: 20px;
    background: black;
    border-radius: 100px;
}

.pull-right {
    margin-right: 12px;
}

.pull-left {
    margin-left: 12px;
}

.chat .chat-history-group .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}
.chat .chat-history-group .message {
    color: white;
    /* top, bottom and left,right*/
    padding: 6px 10px;
    line-height: 16px;
    font-size: 15px;
    border-radius: 20px;
    margin-bottom: 12px;
    max-width: 60%;
    position: relative;
    margin-top: -10px;
}

.chat .chat-history-group .consecutive-message-data {
    margin-bottom: -3px;
    text-align: center;
}
.chat .chat-history-group .consecutive-message{
    color: white;
    /* top, bottom and left,right*/
    padding: 8px 15px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 20px;
    margin-bottom: 0px;
    max-width: 60%;
    position: relative;
    margin-top: -10px;
}

.chat .chat-history-group .message:after {
    display: none;
    bottom: 100%;
    /*left: 7%;*/
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #86BB71;
    border-width: 10px;
    margin-left: -10px;
}
.chat .chat-history-group .my-message {
    background: #86BB71;
}
.chat .chat-history-group .other-message {
    background: #94C2ED;
}
.chat .chat-history-group .other-message:after {
    display:none;
    border-bottom-color: #94C2ED;
    left: 93%;
}
.chat .chat-message {
    padding: 30px;
}
.chat .chat-message textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}
.chat .chat-message button {
    float: right;
    color: #94C2ED;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #F2F5F8;
}
.chat .chat-message button:hover {
    color: #75b1e8;
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: #86BB71;
}

.offline {
    color: #E38968;
}

.me {
    color: #94C2ED;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-left {
    float:left;
}
.float-right {
    float: right;
}

.clearfix {
    margin-top: -5px !important;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.container .chat-style {
    background-color: white; 
    border: solid #CECECE 1px;
    border-radius: 8px;
}

.submit-message .chat-message {
    width: 100% !important;
}
.submit-message .chat-message .file-uploads {
    text-align: center;
    position: relative;
    display: inline;
}

.submit-message #message-to-send {
    width: 100%;
    border-top : solid #CECECE 1px;
}

.message {
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
}

textarea, textarea:focus {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}
